<!-- Modal -->
<div class="modal fade" id="base" tabindex="-1" aria-labelledby="baseLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="SignUp" id="base"> Sign Up</h3>
            </div>
            <div class="Signup-body">
                <form action="/base" method="post">
                    {% csrf_token %}
                    <label for="">Username</label>
                    <input type="text" id="username" name="username"
                        placeholder="Create a username (only letters and numbers)" Required>
                    <br>

                    <label for="">First Name</label>
                    <input type="text" id="fname" name="fname" placeholder="Enter your First Name" Required>
                    <br>

                    <label for="">Last name</label>
                    <input type="text" id="lname" name="lname" placeholder="Enter your Last Name" Required>
                    <br>

                    <div class="mb-3">
                        <label for="" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="email" placeholder="Enter your email Address"
                            name="email" aria-describedby="emailHelp">
                    </div>

                    <label for="">Password</label>
                    <input type="password" id="pass1" name="pass1" placeholder="Create a Password " Required>
                    <br>

                    <label for="">Confirm Your Password</label>
                    <input type="password" id="pass2" name="pass2" placeholder=" Confirm Your password " Required>
                    <br>

                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Check me out</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>